.profile{
    height: 250px;
    border-radius: 50%;
    width: 250px;
}

html{
    scroll-behavior: smooth;
}

.name{
    color:rgb(20, 151, 151);
}

.body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

.skills-icons{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.color{
    background-color:rgb(26, 54, 54);
    border-radius: 30px;
}

.text{
    color:rgb(103, 125, 106) ;
    margin-left: 50px;
}

header {
    position: relative;
  }
  
#themeToggleButton {
    position: fixed; 
    top: 100px; 
    right: 20px; 
    z-index: 1000; 
    margin-top: 10px; 
  }
  
body.light-mode {
    background-color: white;
    color: black;
  }
  
body.dark-mode {
    background-color: black;
    color: white;
  }
  

.text-muted {
    color: #6c757d !important;
  }
  

.light-mode .text-muted {
    color: black !important;
  }
  
#portfolioTitle {
    color: white;
  }
  

.light-mode #portfolioTitle {
    color: black !important;
  }